/* Background Image Import */
body {
   background: url(../images/topographic.jpg) ;
}
/* Header bar formatting */
#header {
    height: 5vh;
    color: red;
}
/* info box drop down */
#infoBox {
    position: relative;
}
/* Lat and Long info display */
#latDisplay {
    border: 3px solid black;
    width: 8vw;
    background: #002364;
    color:white;
}

#longDisplay {
    border: 3px solid black;
    width: 8vw;
    background: #002364;
    color:white;
}

#latLongContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* County and town display */
#countyTownDisplay {
    border: 3px solid black;
    background: #002364;
    color:white;
}

/* Scoreboard display */
#scoreDisplay {
    border: 3px solid black;
    background: #002364;
    color:white;
}

#countyScore {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Direction Buttons */
#directionButtons {
    border: 3px solid black;
    margin-top: 10%;
    background: #002364;
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#moveNorth {
    grid-column-start: 2;
}

#moveEast {
    grid-column-start: 3;
    grid-row-start: 2;
}

#moveSouth {
    grid-column-start: 2;
    grid-row-start: 3;
}

#moveWest {
    grid-column-start: 1;
    grid-row-start: 2;
}
/* Game control buttons */
#gameControlButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 3px solid black;
    margin-top: 60%;
    background: #002364;
    color:white;
}
#returnButton {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
}
/* Game Container */
#gameContainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black
}

#infoContainer {
    width: 25vw;
}

/* Guess box */
#guessBox {
    background: #002364;
    color:white;
    box-shadow: 5px 10px 8px 10px #888888;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}


